---
    css: centered
    hue: 220
---

# What is Svelte Presenter ?

Svelte Presenter is an attempt at making a easy-to-use tool for presentations.

Pages are written using [mdsvex](http://www.mdsvex.com) and picked up by the script during the build.

//TODO - pick up new pages automagically
