---
    layout: column
    hsl: 40 70 50
---

<script>
    import { Repl } from 'svelte-presenter'
    import App from './code/App.js'
    import Animal from './code/Animal.js'
    import Data from './code/Data.js'

    const components = [App, Animal, Data]
</script>

<Repl {components} />
