---
    layout: centered
    hsl: 250 70 50
---

# Layouts

**There are three standard layouts**

- centered
- column
- double-column

**Making your own layouts**

You can easily add your own layouts, but remember to add them to the mdsvex configuration in `rollup.config.js`
