---
    layout: centered
    hsl: 150 70 50
---

# What is Svelte Presenter ?

Svelte Presenter allows to quickly make good looking presentations using [Svelte](https://www.svelte.dev) and [mdsvex](https://www.mdsvex.com). 

It comes with a series of predefined layouts, support for a beautifull color scheme and a live REPL to blow your audience away.
