# Getting Started

Degit the repo and you are all set.

```bash
npx degit stephane-vanraes/svelte-presenter my-presentation
```

You will find the samples pages under the folder **/src/pages**.  They are using  [MDSvex](http://www.mdsvex.com) so it is as simple as writing Markdown to get your presentation going.

Read on to learn how to make the best out of this package.
