---
---

# Layouts

Svelte Presenter comes with 3 layouts

- **default** The default layout, will simply render it's content from top to bottom.
- **centered** This layout will center the content in the middle of the screen.
- **paged** With this layout extra spacing is adding to each h2 element and extra functionality to snap the scrollbar is added.

The coming pages show examples of all these layouts in action.
