---
    css: red
---

# Styling with class

You can add a keyword `css` to the header of the .svx file, this will append the given class to the page, allowing you to easily style the page more. This page for instance has the extra class _red_ added to it, giving it a nice red background colour.

```
---
    css: red
---
```

The classes themselves have just been added to the `global.css` file.
