---
    layout: column
    hsl: 100 70 50
---

# Getting Started

**Installation**

Make a local clone of the project

```
npx degit stephane-vanraes/svelte-presenter my-presentation
```

Install dependencies and ru

```
npm install
npm run dev
```

**Set a title**

To set a html title, modify `main.js`
