* {
	box-sizing: border-box;
	color: inherit;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
	padding: 0;
}

html {
	overflow: hidden;
}

body {
	display: flex;
	flex-direction: row;
	gap: .5rem;
	height: 100vh;
	padding: .5rem;
}

h1 {
	text-align: center;
	white-space: nowrap;
}

ul {
	list-style-type: none;
}

li {
	padding-left: .75rem;
	position: relative;
}

li + li {
	margin-top: .5rem;
}

li:before {
	background-color: hsl(var(--hue), var(--sat), var(--lum));
	border-radius: 50%;
	content: '';
	left: 0;
	height: .5rem;
	position: absolute;
	top: .375rem;
	width: .5rem;
}

.borders {
	border: 2px solid hsl(var(--hue), var(--sat), var(--lum));
	border-radius: .5rem;
}

/** CODE **/
pre {
    background-color: white;
    border: 0;
    border-radius: .25rem;
    color: #211A1E;
    font-family: monospace;
    overflow-x: auto;
    padding: 1rem;
    width: 100%;
}

code {
    background-color: white;
    margin: 0 .5ch;
    padding: 0 .5ch;
    white-space: nowrap;
}

pre > code {
    margin: 0;
    padding: 0;
    white-space: unset;
}

.token.keyword { color:  #0F3BFF;}
.token.operator { color: #782726; }
.token.string { color: #AF2628; }
.token.punctuation { color: #775603; }
.token.tag { color: #782726; }

.token.attr-name { color:  #0F3BFF;}
.token.attr-value { color:  #AF2628;}