pre {
    background-color: white;
    border: 0;
    border-radius: .25rem;
    color: #211A1E;
    font-family: monospace;
    overflow-x: auto;
    padding: 1rem;
    width: 100%;
}

code {
    background-color: white;
    margin: 0 .5ch;
    padding: 0 .5ch;
    white-space: nowrap;
}

pre > code {
    margin: 0;
    padding: 0;
    white-space: unset;
}

.token.keyword { color:  #0F3BFF;}
.token.operator { color: #782726; }
.token.string { color: #AF2628; }
.token.punctuation { color: #775603; }
.token.tag { color: #782726; }

.token.attr-name { color:  #0F3BFF;}
.token.attr-value { color:  #AF2628;}